html, body {
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	padding: 10px;
	margin: 0;
}

.grid-container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.map-gallery-container {
	border-color: #ccc;
	border-width: 1px;
	border-radius: 15px;
	border-style: solid;
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 7;
	overflow: auto;
}

.map-gallery {
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fill, 100px);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.icon-image {
	height: 100px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
}

.control-panel {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	grid-column-start: 1;
	grid-column-end: 8;
	grid-row-start: 7;
	grid-row-end: 11;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.slider-bar {
	
}

.slider-svg {
	height: 100%;
	width: 100%;
}

.hist-bar {
	stroke-width: 1;
	stroke: white;
}

.ticks {
	font-size: 10px;
}

.track, .track-inset, .track-overlay {
	stroke-linecap: round;
}

.track {
	stroke: #dcdcdc;
	stroke-width: 10px;
}

.track-inset {
	stroke: #dcdcdc;
	stroke-width: 8px;
}

.track-overlay {
	pointer-events: stroke;
	stroke-width: 50px;
	stroke: transparent;
	cursor: crosshair;
}

.handle {
	fill: #fff;
	stroke: #000;
	stroke-opacity: 0.5;
	stroke-width: 1.25px;
}

.bar-chart {
	
}

.bar-chart-svg {
	height: 100%;
	width: 100%;
}

.image-container {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	grid-column-start: 6;
	grid-column-end: 11;
	grid-row-start: 1;
	grid-row-end: 7;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	padding: 10px;
}

.origin-image {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
}

.image-info {
	padding-left: 10px;
	overflow-y: auto;
}

.treemap {
	grid-column-start: 8;
	grid-column-end: 11;
	grid-row-start: 7;
	grid-row-end: 11;
}

.treemap-svg {
	height: 100%;
	width: 100%;
}

.tree-rect{
fill: cadetblue;
  opacity: 0.3;
  stroke: white;
}

.treemap-text{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  fill: grey;
  font-size: 12px;
}

.text-title {
	font-size: 25px;
	font-weight: bold;
	margin: 5px;
	margin-top: 20px;
}

.text-entry {
	font-size: 20px;
	margin: 3px;
	margin-left: 20px;
}

.text-link {
	font-size: 20px;
	margin: 3px;
	margin-left: 20px;
}

.text-entry1 {
	font-size: 20px;
	margin: 3px;
	margin-left: 20px;
}

.text-entry2 {
	font-size: 20px;
	margin: 3px;
	margin-left: 20px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
}

.bar {
	fill: red;
}

.bar-selected {
	stroke-width: 3;
	stroke: steelblue;
}

.axis--x path {
	display: none;
}