html, body {
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	padding:10px;
	margin:0;
}

.grid-container {
	
	height:100%;
	width:100%;
	
	display: grid;
	grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.map-gallery-container{

	
	border-color: #ccc;
	border-width: 1px;
	border-radius: 15px;
	border-style: solid;
	
	grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 8;
    
    overflow: auto; 

}

.map-gallery {
	
	padding:10px;
	display: grid;
	grid-template-columns: repeat(auto-fill, 100px);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	
}



.icon-image {
	
	height:100px;

}

.bar-chart {
	
	border-color: #ccc;
	border-style:solid;
	border-width: 1px;
	border-radius: 15px;
	
	grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 11;
}

.image-container {

	border-color: #ccc;
	border-style:solid;
	border-width: 1px;
	border-radius: 15px;

	grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 6;
    
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	
	padding:10px;
}

.origin-image{
	
   	border-color: #ccc;
	border-style:solid;
	border-width: 1px;
}

.image-info{
	
	padding-left:10px;
	overflow-y:auto;
	
}

.tree-map {

	border-color: #ccc;
	border-style:solid;
	border-width: 1px;
	border-radius: 15px;
	
	grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 11;
}

.text-title{
	font-size: 25px;
	font-weight: bold;
	margin:5px;
	margin-top:20px;
}

.text-entry{
	
	font-size: 20px;
	margin:3px;
	margin-left:20px;
}

.text-link{
	
	font-size: 20px;
	margin:3px;
	margin-left:20px;
}

.text-entry1{
	font-size: 20px;
	margin:3px;
	margin-left:20px;
}


.text-entry2{
	
	font-size: 20px;
	margin:3px;
	margin-left:20px;
}

img {
    max-width: 100%;
    max-height: 100%;
}